<h2> List of disasters | Post </h2>

<%= paginate @disasters %>
<table class="table">
  <thead class="thead -dark">
    <tr>
      <th>Title</th>
      <th>Created Time</th>
      <th>Comments</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @disasters.each do |disaster| %>
        <td> <%= disaster.title %> </td>
        <td> <%= time_ago_in_words(disaster.created_at) %> </td>
        <td> <%= pluralize(disaster.comments.size, "comment") %></td>
        <td> <%= link_to "More Info", disaster_path(disaster) %> <td>
        <% if current_user.id == disaster.user_id %>
          <td><%= link_to 'Delete Post', disaster_path(disaster), method: :delete, data: {confirm: "are you sure?"} %></td>
          <td><%= link_to 'Edit Post', edit_disaster_path(disaster) %></td>
        <% end %>
    </tr>
      <% end %>
  </tbody>
</table>
<%= link_to 'Back', root_path, class: "btn btn-default btn-sm" %>